.header {
  color: #1e1e1e;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: rgba(250, 250, 250);
  z-index: 8;
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 12px 70px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 15px;
  max-width: 520px;
  width: 100%;
}
.header-nav a {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  transition: 0.5s all ease;
  color: #1e1e1e;
}
.header-nav a:hover {
  opacity: 0.8;
}
.header-logo {
  max-width: 50px;
}
.header-interactive {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 520px;
  width: 100%;
}
.button-signUp {
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #038650;
  font-size: 16px;
  font-weight: 600;
  color: #fafafa;
  transition: 0.7s ease all;
}
.button-signUp:hover {
  opacity: 0.8;
}
.header-interactive-mobile {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.5s all ease;
  margin-right: 22px;
}

.header-interactive-mobile a {
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
}
.header-interactive-mobile:hover {
  opacity: 0.9;
}

.header-interactive-language {
  position: relative;
  cursor: pointer;
  color: #717680;
  font-weight: 500;
  transition: 0.5s all ease;
}

.header-interactive-language {
  align-items: center;
  display: flex;
  gap: 8px;
}

.header-interactive-language-menu {
  position: absolute;
  gap: 10px; /* Відстань між елементами */
  background-color: #ffffff; /* Білий фон */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Легка тінь */
  left: -10px;
  top: 150%;
  padding: 10px 30px;
  border: 1px solid #e0e0e0; /* Тонка рамка */
  border-radius: 8px; /* Скруглення кутів */
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden; /* Робимо видимим */
}

.header-interactive-language-menu.active {
  opacity: 1;
  transform: translateY(0); /* Анімація переміщення */
  visibility: visible; /* Робимо видимим */
}

.header-interactive-language-menu a {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #1e1e1e;
}

.header-container-mobile {
  background-color: #406f45;
  align-items: center;
  display: none;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}
.header-container-mobile-logo {
  width: 50px;
  height: 50px;
}
.header-container-mobile-openBurger {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header-container-mobile-menu {
  display: none; /* Убираем изначальное отображение */
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 0; /* Изначально высота 0 */
  overflow: hidden; /* Чтобы скрывать содержимое */
  background-color: #fff;
  text-align: center;
  padding: 0 20px; /* Убираем верхний/нижний padding, чтобы не мешал */
  z-index: 5;
  transition: max-height 0.3s ease; /* Плавный переход */
}

.header-container-mobile-menu.active {
  display: flex;
  max-height: 550px; /* Устанавливаем максимальную высоту для раскрытого состояния */
  padding: 20px; /* Возвращаем padding */
}
