@import url(css/reset.css);
@import url(css/header.css);
@import url(css/hero-section.css);
@import url(css/statistics.css);
@import url(css/about.css);
@import url(css/service.css);
@import url(css/personal.css);
@import url(css/testimonials.css);
@import url(css/contacts.css);
@import url(css/footer.css);

html{
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", serif;
}

body{
  background-color: #FAFAFA;
}

